<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Voucher Management - Cinema Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Voucher Management Dashboard" name="keywords">
    <meta content="Voucher list with CRUD options" name="description">

    <link href="img/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

</head>

<body>
<h1>Hello</h1>
</body>

</html>